/* PUT FLUID GRID CODE HERE */

.col {
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

.aside {
    width: 33.33%;
}

.main{
    width: 66.66%;
}

.cf:after {
    content: '';
    clear: both;
    display: block;
}